body {
  padding-top: 10%;
}

#timer {
  font-weight: 300;
  color: #AAA;
}

.row {
  text-align: center;
  padding-top: 3em;
}

.big {
  font-size: 3em;
  vertical-align: middle;
  text-transform: uppercase;
}

.small {
  color: #AAA;
  margin: 0 1em;

  font-size: 0.8em;
}

.smaller {
  color: #EEE;

  font-size: 0.6em;
  text-decoration: none;
}

.green {
  color: #2ecc71;
}

.red {
  color: #e74c3c;
}

.end {
  color: #AAA;
  font-size: 3em;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  opacity: 0;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.hide {
  display: none;
}

#blurb {
  margin: 3em 0 2em 0;
}

.percentage {
  color: #AAA;
  font-size: 0.8em;
}
